/* Обучение */
*,*:before,*:after{
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
}
html,body{
  height:100%;
}
/* Стили для демонстрации */
.wrapper{

}
/* Основные стили */
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
.header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}
.header:before{
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #5e5373; */
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(5, 70, 124, 0.86);
  background-color: #ffffff;  
  z-index: 2;
}

.header__body{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items:center;
} 
.header__logo{
  /* flex: 0 0 60px;
  border-radius:50%;
  overflow: hidden;
  border: 4px double black; */
  z-index: 3;

}

.header__logo img{
  max-width:100%;
  display: block;
}
.header__burger{
  display: none;
}
.header__menu{}

.header__list{
  display:flex;
  position: relative;
  z-index: 2;
}

.header__list li{
  list-style: none;
  margin: 0 0 0 20px;
}
.header__link{
  color: #fff;
  text-transform:uppercase;
  font-size: 18px;
  text-decoration:none;
}
.menu__item > a {
  font-family: Helvetica;
  font-size: 24px;
  color: #272727;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  transition: all .25s;
} 

/* @media (max-width: 767px){ */
  /* @media (max-width: 835px){ */
@media (max-width: 840px){
  body.lock{
    overflow: hidden;
  }
  /* Высата шпаки на телефоне меньше 80px */
  .header__body{
    height: 50px;
  }
  .content{
    padding: 50px 0px 0px 0px;
  }

  /* Логотип */
  .header__logo{
    flex: 0 0 80px;
  }
  .header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span{
    position: absolute;
    background-color:rgba(5, 70, 124, 0.86);
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    /* Плавность при переключение бургера на крестик */
    transition: all 0.4s ease 0s;
  }
  .header__burger:before,
  .header__burger:after{
    content: '';
    background-color: rgba(5, 70, 124, 0.86);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    /* Плавность при переключение бургера на крестик */
    transition: all 0.3s ease 0s;
  }
  .header__burger:before{
   top: 0;
  }
  .header__burger:after{
   bottom:0;
  }
  /* При нажатии на бургер создается крестик */
  .header__burger.active span{
    transform: scale(0);
  }

  .header__burger.active:before{
     transform:rotate(45deg);
     top: 9px;
  }
  .header__burger.active:after{
    transform:rotate(-45deg);
    bottom: 9px;
 }

  .header__menu{
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Плавность появление меню при нажатиии на  бургер */
    transition: all 0.3s ease 0s;
    /* background-color: #18b5a4; */
    /* #f0f0f0;  Цвет фона *//* Цвет текста активного пункта */
    /* rgb(219, 226, 236); */
    background-color: #f0f0f0;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active{
    top:0;
  }

  /* Обращаемся list и отключаем dysplay: flex; */
  .header__list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.menu__item > a {
  font-family: Helvetica;
  font-size: 30px;
  color: #272727;
  text-decoration: none;
  transition: all .25s;
}
  .header__list li{
    margin: 0 0 20px 0;
  }
  .header__link{
    font-size: 28px;
  }

  }

.content{
  padding: 80px 0px 15px 15px;
}
.content__text{
  font-size: 18px;
  line-height: 25px;
 text-align:justify; 
}
.content__text p{
  margin: 0 0 20 0;
}
/* @media (max-width: 767px){ */
@media(max-width: 835px){
  .content{
    padding: 50px 0px 0px 0px;
  }
}
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.mr-auto li ul{
  position: absolute;
  top: 80px;
  /* Делаем появлени подменю путем наведения на основные пункты меню
  (СКРЫВАЕМ пункты подменю) */
  display: none;
}
@media (max-width: 990px){
  .mr-auto li ul{
    top: 399px;
  }
}
.mr-auto li> ul li{
  margin: 0;
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(5, 70, 124, 0.86);
  background-color: #ffffff; 
}

@media (min-width: 1200px) {
     .container {
        max-width: 1170px ;
        /* max-width: 100% ; */
        margin-right: auto ;
        margin-left: auto 
      }
    .navbar-expand-lg {
        margin-right: auto ;
        margin-left: auto ;
      /* width: 1170px ; */
        width: 100%;
      /* padding-right: 15px !important;
      padding-left: 15px !important; */
    }

  }

/* Первый экран */

    .menu{
      display:flex;
      flex-direction:row;  
      align-items: center; 
      Justify-content:space-between;
      
  }
  /* @media (min-width: 991px) {
    .header{
      height: 81px;  80px/16px = 5em 
    }
  } */

  .row_header{
    display:flex;
    flex-direction:row;  
    align-items: center; 
  }
    
  .menu__item{
      margin: 0 6px;
      display: flex;
      align-items: center;
      height: 80px;
      border-bottom: 4px solid transparent; /* Цвет нижней линии подчеркивания прозрачный */
  }
  
  .menu__item:hover {
      background-color: #f0f0f0; /* Цвет фона *//* Цвет текста активного пункта */
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%);
      border-top: 1px solid rgba(5, 70, 124, 0.86);
      border-bottom: 4px solid  #235b8b;/* Цвет фона активного пункта */
      cursor: pointer
     }
  .menu__item.active:hover {
      background-color: #f0f0f0; /* Цвет фона *//* Цвет текста активного пункта */
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%);
      border-top: 1px solid rgba(5, 70, 124, 0.86);
      border-left: 1px solid rgba(5, 70, 124, 0.86);
      border-right: 1px solid rgba(5, 70, 124, 0.86);
      border-bottom: 4px solid  #235b8b;/* Цвет фона активного пункта */
      cursor: pointer
     }
  
     /* .menu__item > a {
      font-family: Helvetica;
      font-size: 24px;
      color: #272727;
      text-decoration: none; /* Отменяем подчеркивание у ссылки */
      /* transition: all .25s;
  }  */ */

  /* Иконка меню */
  .my-icon>div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    width: 30px;
    height: 3px;
    background-color: rgba(5, 70, 124, 0.86);
    margin: 5px 2px 4px 5px;
  }
  .navbar-light .navbar-toggler {
    /* color: rgba(0, 0, 0, 0.5); */
    border-color: rgba(5, 70, 124, 0.86)!important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url('../img/icon_menu.png')!important;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.iphone{
  display:flex;
  flex-direction:row;  
  align-items: center; 
  Justify-content:space-between;
  /* max-width: auto; */
}
.telefon1{
  /* !important */
  margin-left: 45px;
}

.telefon2{
  /* display:flex; */
  /* Justify-content:flex-end; */
  /* max-width: 230px; */
  margin-left: 24px!important;
}
.tell{ 
  display:flex;
  flex-direction: row;
  color: #0d4d80;
  font-family: "HelveticaLight";
  /* margin-right: 0px; */
} 
.tel1{
/* Text style for "8 916" */
   display:flex;
   font-size: 24px;
   font-weight: 300;
   margin: -3px 5px 0 0;
}
.tel2{
  /* Text style for "756 97 96" */
  display:flex;
  font-size: 31px;
  font-weight: 600;
  line-height: 13.61px;
}

.call{
  display:flex;
  /* width: 144px; */
  width: 150px;
  height: 16px;
  margin-left: 56px;
  color: #96b7d2;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.62px;
  text-decoration: underline;
}
/* Видимость номера телефона  и телефона*/
/* @media (min-width: 992px) and (max-width: 1200px) */
@media  (max-width: 1200px) {
  /* .telefon2, .iphone */
  .iphone-off{
    display:none;
  } 
}
/* По нажатию на бургер меню отображать телефоны */
.iphone-off.active{
  display:flex;
} 
/* @media (min-width: 992px) and (min-width: 1200px) */
@media (min-width: 1200px) {
  .nav-tell-enable{
    width: 0;
    height: 0;
    display: none;
  }
}

/* При наведение отобразить пункты подменю */
.mr-auto li:hover > ul{
  display:block;
}

@media (min-width: 767px){
  .navbar {
    padding-right: 0;
}
}

.div_my_menu{
  /* -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; */
  display:flex;
  flex-direction:row;  
  align-items: center; 
  Justify-content:space-between;
  width:100%; /* 1170px;  */
}
.overflow{
    /* Для появления скрола при развернутом на телефоне меню */
    overflow: auto;

}




